---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';
import { Schema } from "astro-seo-schema"

interface Props {
	title: string;
	description: string;
	keywords: string;
	image?: string;
	item: Schema;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/img/logo_negro_tranparente.png', item, keywords } = Astro.props;
---

<!-- Global Metadata -->
<title>{title}</title>
<meta name="description" content={description} />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,"/>
<link rel="icon" href="/img/taxi21_icon.ico" type="image/x-icon"/>
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={title}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />
<meta name="application-name" content="Taxi 21 Cala Ratjada"/>
<meta name="author" content="marc mayol orell"/>
<meta name="publisher" content="Taxi 21 Cala Rajada"/>
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index,follow"/>
<link rel="author" href="/humans.txt"/>
<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<link
	rel="stylesheet"
	as="style"
	onload="this.rel='stylesheet'"
	href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
/>
<!-- Primary Meta Tags -->
<meta name="theme-color" content="#ffffff"/>
<meta name="title" content={title} />
<meta name="keywords"
	  content={keywords}/>


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<Schema
	item={item}
/>
